<mat-sidenav-container >
	<mat-sidenav #sidenav mode="side" opened="true" [ngStyle]="{'min-height': minHeight}">
		<!-- <mat-nav-list>
			<mat-divider></mat-divider>
			<a mat-list-item routerLinkActive="cur" [routerLink]="['data']" color="accent">KOL运营数据</a>
			<mat-divider></mat-divider>
		</mat-nav-list> -->

		<mat-nav-list *ngFor="let menu of menuList" >
			<mat-divider></mat-divider>
			<a mat-list-item routerLinkActive="cur" [routerLink]="[menu.link]" color="accent">{{menu.name}}</a>
			<mat-divider></mat-divider>
		</mat-nav-list>

	</mat-sidenav>

	<mat-sidenav-content>
		<mat-card>
			<router-outlet></router-outlet>
		</mat-card>
	</mat-sidenav-content>
</mat-sidenav-container>
