<div class="wrap">
	<div class="header">
		<p class="title">投资脉搏KOL可视化管理系统</p>
		<div class="box">
			<a mat-button href="http://ydt.imaibo.cn/ydt/admin/sys/">推广政策管理系统</a>
			<a mat-button href="http://t-game.imaibo.net/ydt/admin/business/">推广查询系统</a>
			<a mat-button href="https://www.imaibo.net/adminlogin">后台管理系统</a>
		</div>

	</div>
	<div class="main">
		<router-outlet></router-outlet>
	</div>
</div>

<!-- <nav class="navbar is-link">
	<div class="navbar-brand">
		<a class="navbar-item">
			投资脉搏KOL可视化管理系统
		</a>

	</div>
</nav>
<section class="container is-fluid">
	<router-outlet></router-outlet>
</section> -->
